<!DOCTYPE html>
<html>
<head>
	<title>Welcome to my Water Quality Checker</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}

		header {
			background-color: #4CAF50;
			color: #fff;
			padding: 20px;
			text-align: center;
		}

		h1 {
			font-size: 36px;
			margin: 0;
		}

		button {
			background-color: #4CAF50;
			color: #fff;
			border: none;
			border-radius: 5px;
			font-size: 20px;
			padding: 10px 20px;
			cursor: pointer;
			margin-top: 20px;
		}

		button:hover {
			background-color: #3e8e41;
		}
	</style>
</head>
<body>
	<header>
		<h1>Welcome to my Water Quality Checker</h1>
	</header>

	<div style="text-align: center;">
		<button onclick="window.location.href='/water_quality'">Next</button>
	</div>
	
</body>
</html>
